{% extends 'base.html' %}

{% block head %}
<title>Create a bill</title>
{% endblock %}

{% block body %}
<h1>Create Bill</h1>
<form action='/createListAPI' method="POST">
    <label>Bill name: </label>
    <input name="name" placeholder="Electricty bill" id="bill_create" required>
    <br>
    <br>
    <label>Bill amount: </label>
    <input name="amount" placeholder="100£" id="bill_amount" required>
    <br>
    <br>
    <label>Splitting with: </label>
    <input name="splittingWith" list="SplittingWith" placeholder="John Smith" id="bill_splitWith">
    <datalist id="SplittingWith">
        {% for entry in users %}
            <option>{{entry.name}}</<option>>
        {% else %}
            <option>no entries</option>
        {% endfor %}
    </datalist>
    <br>
    <br>
    <button
        class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
        Send Bill
    </button>
</form>
{% endblock %}