{% extends 'base1.html' %}


{% block head %}
<title>Your OWN to do list</title> 
{% endblock %}

{% block body %}
    <div class="centre">
        <h1>Welcome {{current_user.username}}!</h1>
        <p>Here you will be able to create your own to-do list, choose an option to continue</p>
        <br>
        <form action='/toDoList'> 
            <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                To Do List
            </button>
        </form>
        <br>
        <form action='/createList'> 
            <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                Create list
            </button>
        </form>
    </div>
{% endblock %}