{% extends 'base.html' %}


{% block head %}
<title>Your OWN to do list</title> 
{% endblock %}

{% block body %}
    <div class="centre">
        <h1>Welcome!</h1>
        <p>Here you will be able to create your Household and manage your bills, choose an option to continue</p>
        <br>
        <form action='/register'> 
            <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                Register
            </button>
        </form>
        <br>
        <form action='/login'> 
            <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                Login
            </button>
        </form>
    </div>
{% endblock %}