{% extends 'base.html' %}

{% block head %}
<title>Register</title> 
{% endblock %}

{% block body %}
    <form action='/registerAPI' method ='POST'> 
        <div class="centre">
            <label>Title:</label>    
            <select name='title'> 
                <option value='Dr'>Mr</option> 
                <option value='Miss'>Sir</option> 
                <option value='Miss'>Dr</option> 
                <option value='Miss'>Queen</option> 
                <option value='Miss'>King</option>
                <option value='Miss'>Leeke</option>
                <option value='Miss'>Dixon</option>
            </select>
            <p>&nbsp;</p>
                <p>Enter details:</p>
            <p><label for="username">Username:</label> <input type = "text" name = "username" placeholder="John smith" /></p>
            <br>
            <p><label for="username">Email:</label> <input type = "text" name = "email" placeholder="John.Smith@domain.com"/></p>
            <br>
            <p><label for="password">Password:</label><input type = "password" name = "password" placeholder= "write your password here"/></p>
            <br>
            <p><button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
                type = "submit" value = "Create Account"/> Create Account </button></p>

        </form>
        </div>
    </form>
{% endblock %}