{% extends 'base1.html' %}

{% block head %}
    <title>Bills</title> 
{% endblock %}

{% block body %}
    <div class="content">
        <h1>Bills:</h1>
        <table>
            <thead>
                <tr>
                    <th width='2000px'>All Bills</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in bills %}
                <tr>
                    <td>{{entry.name}} amount:{{entry.amount}} All Paid:{{entry.completion}} Shared with:{{entry.users_with_bill}} Paid:
                        <form action="/toDoListAPI">
                        <input type="checkbox" id="Paid" name="paid" value="Paid"> </td> 
                </tr>
                {% else %}
                <tr>
                    <td>no entries</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    <br>
        <form action='/createList'> 
            <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                Add Bill
            </button>
        </form>
    </div>
</div>
    
{% endblock %}