{% extends 'base1.html' %}

{% block head %}
    <title>Bills</title> 
{% endblock %}

{% block body %}
    <div class="content">
        <table>
            <thead>
                <tr>
                    <th width='2000px'>All Bills for {{current_user.username}}</th>
                </tr>
            </thead>
            <tbody> 
                {% set count = namespace(value=0) %}
                {% for entry in bills %}
                <tr>
                    <td>{{entry.name}} amount:{{entry.amount}} Payment Completed:{{entry.completion}} Shared with:{{entry.shared_with}}. Paid: {{user_bills[count.value].user_bill_completion}}
                            {% if user_bills[count.value].user_bill_completion==False %}
                            <form action="/toDoListAPI" method='POST'>
                                <label for="Paid">
                                        <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
                                        type = "submit" value = "paid? "id="userPaid" name="userPaid"> 
                                            paid? 
                                        </button>
                                    <input type="hidden" name="billToChange" value={{entry.id}}>
                                </label>
                            </form>
                            {% endif %}
                            {% set count.value = count.value + 1 %}
                    </td> 
                </tr>
                {% else %}
                <tr>
                    <td>no entries</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    <br>
        <form action='/createList'> 
            <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                Add Bill
            </button>
        </form>
    </div>
</div>
    
{% endblock %}